{% extends 'AJiO/base.html' %}
{% block title %}View List{% endblock %}
{% block content %}
    <h1>{{ls.name}}</h1>
    <form method = "post" action="#">
    {% csrf_token %}

    {% for item in ls.item_set.all %}
        <div class="input-group mb-3">
            <p type="text">{{ item.text }}</p>
        </div>
    {%  endfor %}

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button type="submit" name="newItem" value="newItem" class="btn btn-success">Add Item</button>
        </div>
        <input type="text" name="new">
    </div>
    <button type="submit" name="save" value="save" class="btn btn-success">Save</button>
    </form>
{% endblock %}